<app-wave></app-wave>

<div id="content">
    <h4>
        Vieni a trovarci in
    </h4>
    <h3>
        Via Spiaggia del Lago 11, 00040, Castel Gandolfo (RM)
    </h3>

    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Via%20spiaggia%20del%20lago%2011&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://2piratebay.org"></a>
            <br>
            <a href="https://www.embedgooglemap.net">custom google map embed</a>
        </div>
    </div>

    <div id="links">
        <ul>
            <li>
                <a href="https://it-it.facebook.com/La-capannina-2017594438492281/" target="_blank">
                    <i class="icons" id="facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/lacapannina_/?hl=it" target="_blank">
                    <i class="icons" id="instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.atlantidesportingclub.com/" target="_blank">
                    <i class="icons" id="palestra-atlantide"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/393491964748" target="_blank">
                    <i class="icons" id="whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="tel:+393491964748" target="_blank">
                    <i class="icons" id="phone"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
